# Node.js dependencies
node_modules/

# Environment variables
.env

# Compiled TypeScript files
dist/

# OS-specific files
.DS_Store

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache
